{
    "branches": [
        {
            "name": "+([0-9])?(.{+([0-9]),x}).x"
        },
        {
            "name": "production"
        },
        {
            "name": "staging",
            "prerelease": "staging"
        },
        {
            "name": "main",
            "prerelease": "dev"
        }
    ],
    "repositoryUrl": "git@github.com:ssun3/semantic-release-example.git",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/github",
            {
                "assets": [
                    "dist/**"
                ]
            }
        ]
    ],
    "ci": "false"
}