{
    "branches": [
        "main",
        "next"
    ],
    "repositoryUrl": "git@github.com:ssun3/semantic-release-example.git",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/github",
            {
                "assets": [
                    "dist/**"
                ]
            }
        ]
    ],
    "ci": "false"
}